<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/yasgui.min.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/yasgui.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/detrusty.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/detrusty-plan.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/detrusty-plan.js') }}"></script>
</head>
<body>
  <div id="yasqe" data-endpoint="{{ url_for('query_plan') }}"></div>
  <div id="plan-error"></div>
  <div id="plan-container" style="display: inline">
    <div id="canvas"></div>
    <div id="details"></div>
    <div id="plan-clear"></div>
  </div>
</body>
