{% extends "base.jinja2" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/yasgui.min.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/yasgui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/detrusty-fedbar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/detrusty-autocompleters.js') }}"></script>
  {% block query_head %}{% endblock %}
{% endblock %}

{% block content %}
  <div id="federation-bar">
    <label for="federation-select">Federation:</label>
    <select id="federation-select">
      <option value="">All federations</option>
    </select>
  </div>
  {% block editor %}{% endblock %}
{% endblock %}
