<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/d3@7.8.2/dist/d3.min.js" charset="utf-8"></script>
  <link href="https://unpkg.com/@triply/yasgui@4.2.28/build/yasgui.min.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/@triply/yasgui@4.2.28/build/yasgui.min.js"></script>
  <style>
    #btn_query_plan {
      background-image: url('static/play.png');
      background-size: 40px 40px;
      height: 40px;
      width: 40px;
    }

    .yasgui .autocompleteWrapper,
    .yasgui .controlbar,
    .yasqe .yasqe_buttons .yasqe_share {
      display: none !important;
    }

    body {
      background-color: #e3e3e3;
    }

    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }

    .node text { font: 16px sans-serif; }

    .link {
      fill: none;
      stroke: #666;
      stroke-width: 2px;
    }
    li:not(:last-child) {
      margin-bottom: 3px;
    }
  </style>
</head>
<body>
  <div id="yasqe"></div>
  <div style="display: inline">
    <div id="canvas" style="float: left; display: inline-block; margin-right: 10px;"></div>
    <div id="details" style="float: left; display: inline-block;"></div>
    <div style="clear: both;"></div>
  </div>
  <script>
    const COLORS = ['#9ACD32', '#A52A2A', '#5B9AA0', '#FFA500', '#622569',
                    '#BC8F8F', '#808080', '#006400', '#191970', '#8B4513'],
          btn_query_plan = document.createElement("button"),
          yasqe = new Yasqe(document.getElementById('yasqe'), {
              persistenceId: null,
              tabSize: 2,
              indentUnit: 2,
              extraKeys: {
                Tab: function(cm) {
                  cm.replaceSelection(new Array(cm.getOption('indentUnit') + 1).join(' '));
                }
              },
              pluginButtons: function() { return btn_query_plan },
              showQueryButton: false
          });

    btn_query_plan.id = "btn_query_plan";
    btn_query_plan.title = "Create Plan";
    btn_query_plan.classList.add("yasqe_queryButton");
    btn_query_plan.onclick = function() {
        const query = yasqe.getValue(),
              query_plan_details = $('#details');
        $('#canvas').empty();
        query_plan_details.empty();
        $.ajax({
            type: 'POST',
            headers: {
                Accept: 'application/json'
            },
            url: window.location.href,
            data: jQuery.param({'query': query}),
            crossDomain: true,
            success: function(data) {
              query_plan_details.html('<h3>Sub-query Details:</h3><ul id="#subqueries"></ul>');
              create_tree(data['tree'], data['details']);
            },
            error: function(jqXHR) {
              alert('The server returned with status code ' + jqXHR.status + '.\nMessage: ' + jqXHR.responseText);
              console.log(jqXHR.status + ': ' + jqXHR.responseText);
            }
        })
    };

    function create_tree(treeData, details) {
      const ssq_list = document.getElementById("#subqueries");
      const endpoints = new Set();

      for (const ssq in details) {
          const child = document.createElement("li");
          child.innerHTML = "<b>" + ssq + "</b><br>Endpoint: " + details[ssq]["endpoint"] + "<br>Triples:<br>&nbsp;&nbsp;&nbsp;&nbsp;" + details[ssq]["triples"].replace(/\n/g, "<br>&nbsp;&nbsp;&nbsp;&nbsp;");
          ssq_list.appendChild(child);
          endpoints.add(details[ssq]["endpoint"]);
      }

      const endpoints_list = Array.from(endpoints);
      endpoints_list.sort();

      // set the dimensions and margins of the diagram
      const margin = {top: 20, right: 90, bottom: 30, left: 90},
            width  = 800 - margin.left - margin.right,
            height = 600 - margin.top - margin.bottom,
            node_size = 10;

      // declares a tree layout and assigns the size
      const treemap = d3.tree().size([width, height]);

      //  assigns the data to a hierarchy using parent-child relationships
      let nodes = d3.hierarchy(treeData, d => d.children);

      // maps the node data to the tree layout
      nodes = treemap(nodes);

      // append the svg object to the body of the page
      // appends a 'group' element to 'svg'
      // moves the 'group' element to the top left margin
      const svg = d3.select("#canvas").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom),
            g = svg.append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // adds the links between the nodes
      g.selectAll(".link")
        .data(nodes.descendants().slice(1))
        .enter().append("path")
        .attr("class", "link")
        .attr("d", d => {
           return "M" + d.x + "," + d.y
             + "C" + (d.x + d.parent.x) / 2 + "," + d.y
             + " " + (d.x + d.parent.x) / 2 + "," + d.parent.y
             + " " + d.parent.x + "," + d.parent.y;
           });

      // adds each node as a group
      const node = g.selectAll(".node")
          .data(nodes.descendants())
          .enter().append("g")
          .attr("class", d => "node" + (d.children ? " node--internal" : " node--leaf"))
          .attr("transform", d => "translate(" + d.x + "," + d.y + ")");

      // adds the circle to the node
      node.append("circle")
        .attr("r", node_size)
        .style("fill", d => d.data.endpoint ? COLORS[endpoints_list.indexOf(d.data.endpoint) % COLORS.length] : "#fff");

      // adds the text to the node
      node.append("text")
        .attr("dy", ".35em")
        .attr("x", d => d.children ? (node_size + 5) * -1 : node_size + 5)
        .attr("y", d => d.children && d.depth !== 0 ? -(node_size + 5) : d)
        .style("text-anchor", d => d.children ? "end" : "start")
        .text(d => d.data.name);
    }
  </script>
</body>