{% extends "base.jinja2" %}

{% block head %}
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/yasgui.min.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/yasgui.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/detrusty-plan.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/detrusty-plan.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="yasqe" data-endpoint="{{ url_for('query_plan') }}"></div>
  <div id="plan-error"></div>
  <div id="plan-container">
    <div id="canvas"></div>
    <div id="details"></div>
    <div id="plan-clear"></div>
  </div>
{% endblock %}