<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/d3@7.8.2/dist/d3.min.js" charset="utf-8"></script>
  <link href="https://unpkg.com/@triply/yasgui@4.2.28/build/yasgui.min.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/@triply/yasgui@4.2.28/build/yasgui.min.js"></script>
  <link href="{{ url_for('static', filename='detrusty.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='detrusty-plan.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='detrusty-plan.js') }}"></script>
</head>
<body>
  <div id="yasqe"></div>
  <div id="plan-container" style="display: inline">
    <div id="canvas"></div>
    <div id="details"></div>
    <div id="plan-clear"></div>
  </div>
</body>
