.yasgui .autocompleteWrapper,
.yasgui .controlbar,
.yasqe .yasqe_buttons .yasqe_share {
  display: none !important;
}

.yasr-has-error .yasr_results,
.yasr-has-error .yasr_fallback_info {
    display: none;
}

.yasr-error {
  margin-top: 10px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
